In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv("../data/keystrokes/raw/fixed-text.csv")
df.head()

,participant,session,repetition,DU.v.v,DD.v.p,DU.v.p,UD.v.p,UU.v.p,DU.p.p,DD.p.w,...,DU.r.k,UD.r.k,UU.r.k,DU.k.k.1,DD.k.b,DU.k.b,UD.k.b,UU.k.b,DU.b.b,total time
0,p001,1,1,0.129,1.917,1.804,2.046,1.933,0.113,0.719,...,1.289,1.509,1.423,0.086,0.450,0.352,0.536,0.438,0.098,10.101
1,p001,1,2,0.112,0.192,0.096,0.304,0.208,0.096,0.448,...,0.921,1.135,1.056,0.079,0.418,0.336,0.497,0.415,0.082,5.768
2,p001,1,3,0.088,0.253,0.182,0.341,0.270,0.071,1.536,...,1.066,1.271,1.194,0.077,0.448,0.352,0.525,0.429,0.096,7.877
3,p001,1,4,0.104,0.323,0.233,0.427,0.337,0.090,0.912,...,0.927,1.129,1.063,0.066,0.418,0.330,0.484,0.396,0.088,5.443
4,p001,1,5,0.107,0.188,0.100,0.295,0.207,0.088,0.858,...,1.237,1.423,1.344,0.079,0.457,0.369,0.536,0.448,0.088,5.284

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19772 entries, 0 to 19771
Data columns (total 50 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   participant  19772 non-null  object
 1   session      19772 non-null  int64
 2   repetition   19772 non-null  int64
 3   DU.v.v       19772 non-null  float64
 4   DD.v.p       19772 non-null  float64
 5   DU.v.p       19772 non-null  float64
 6   UD.v.p       19772 non-null  float64
 7   UU.v.p       19772 non-null  float64
 8   DU.p.p       19772 non-null  float64
 9   DD.p.w       19772 non-null  float64
 10  DU.p.w       19772 non-null  float64
 11  UD.p.w       19772 non-null  float64
 12  UU.p.w       19772 non-null  float64
 13  DU.w.w       19772 non-null  float64
 14  DD.w.j       19772 non-null  float64
 15  DU.w.j       19772 non-null  float64
 16  UD.w.j       19772 non-null  float64
 17  UU.w.j       19772 non-null  float64
 18  DU.j.j       19772 non-null  float64
 19  DD.j.k       19772 non-null  float64
 20  DU.j.k       19772 non-null  float64
 21  UD.j.k       19772 non-null  float64
 22  UU.j.k       19772 non-null  float64
 23  DU.k.k       19772 non-null  float64
 24  DD.k.e       19772 non-null  float64
 25  DU.k.e       19772 non-null  float64
 26  UD.k.e       19772 non-null  float64
 27  UU.k.e       19772 non-null  float64
 28  DU.e.e       19772 non-null  float64
 29  DD.e.u       19772 non-null  float64
 30  DU.e.u       19772 non-null  float64
 31  UD.e.u       19772 non-null  float64
 32  UU.e.u       19772 non-null  float64
 33  DU.u.u       19772 non-null  float64
 34  DD.u.r       19772 non-null  float64
 35  DU.u.r       19772 non-null  float64
 36  UD.u.r       19772 non-null  float64
 37  UU.u.r       19772 non-null  float64
 38  DU.r.r       19772 non-null  float64
 39  DD.r.k       19772 non-null  float64
 40  DU.r.k       19772 non-null  float64
 41  UD.r.k       19772 non-null  float64
 42  UU.r.k       19772 non-null  float64
 43  DU.k.k.1     19772 non-null  float64
 44  DD.k.b       19772 non-null  float64
 45  DU.k.b       19772 non-null  float64
 46  UD.k.b       19772 non-null  float64
 47  UU.k.b       19772 non-null  float64
 48  DU.b.b       19772 non-null  float64
 49  total time   19772 non-null  float64
dtypes: float64(47), int64(2), object(1)
memory usage: 7.5+ MB

In [7]:
df.isnull().sum()

participant    0
session        0
repetition     0
DU.v.v         0
DD.v.p         0
DU.v.p         0
UD.v.p         0
UU.v.p         0
DU.p.p         0
DD.p.w         0
DU.p.w         0
UD.p.w         0
UU.p.w         0
DU.w.w         0
DD.w.j         0
DU.w.j         0
UD.w.j         0
UU.w.j         0
DU.j.j         0
DD.j.k         0
DU.j.k         0
UD.j.k         0
UU.j.k         0
DU.k.k         0
DD.k.e         0
DU.k.e         0
UD.k.e         0
UU.k.e         0
DU.e.e         0
DD.e.u         0
DU.e.u         0
UD.e.u         0
UU.e.u         0
DU.u.u         0
DD.u.r         0
DU.u.r         0
UD.u.r         0
UU.u.r         0
DU.r.r         0
DD.r.k         0
DU.r.k         0
UD.r.k         0
UU.r.k         0
DU.k.k.1       0
DD.k.b         0
DU.k.b         0
UD.k.b         0
UU.k.b         0
DU.b.b         0
total time     0
dtype: int64