In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("../data/keystrokes/raw/free-text.csv")
df.head()

C:\Users\SombatlaTrucDeydeepy\AppData\Local\Temp\ipykernel_32336\391620006.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/keystrokes/raw/free-text.csv")

,participant,session,key1,key2,DU.key1.key1,DD.key1.key2,DU.key1.key2,UD.key1.key2,UU.key1.key2,Unnamed: 9
0,p001,1,W,Shift,0.15,-0.796,0.166,-0.946,0.016,NaN
1,p001,1,Shift,e,0.962,1.148,1.255,0.186,0.293,NaN
2,p001,1,e,Space,0.107,0.172,0.252,0.065,0.145,NaN
3,p001,1,Space,b,0.08,0.200,0.280,0.120,0.200,NaN
4,p001,1,b,e,0.08,0.320,0.480,0.240,0.400,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562583 entries, 0 to 562582
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   participant    562583 non-null  object
 1   session        562583 non-null  int64
 2   key1           562583 non-null  object
 3   key2           562385 non-null  object
 4   DU.key1.key1   562583 non-null  object
 5   DD.key1.key2   562385 non-null  float64
 6   DU.key1.key2   562385 non-null  float64
 7   UD.key1.key2   562385 non-null  float64
 8   UU.key1.key2   562385 non-null  float64
 9   Unnamed: 9     13 non-null      float64
dtypes: float64(5), int64(1), object(4)
memory usage: 42.9+ MB

In [4]:
df.isnull().sum()

participant           0
session               0
key1                  0
key2                198
DU.key1.key1          0
DD.key1.key2        198
DU.key1.key2        198
UD.key1.key2        198
UU.key1.key2        198
Unnamed: 9       562570
dtype: int64

In [5]:
df["Unnamed: 9"].isnull().sum()

np.int64(562570)

In [6]:
df[df['Unnamed: 9'].notnull()]

,participant,session,key1,key2,DU.key1.key1,DD.key1.key2,DU.key1.key2,UD.key1.key2,UU.key1.key2,Unnamed: 9
23481,p005,1,2,",0.087,1.088,1.183,1.001,1.096,\r\np005,1,",Shift,0.095,-0.472,0.280,-0.567,0.185
169381,p031,1,Backspace,",0.081,0.761,0.896,0.68,0.815,\r\np031,1,",Shift,0.135,-0.341,0.177,-0.476,0.042
177980,p033,1,e,",0.088,0.2,0.28,0.112,0.192\r\np033,1,",Backspace,0.080,0.400,0.544,0.320,0.464
181842,p033,2,t,",0.079,0.184,0.263,0.105,0.184,\r\np033,2,",Shift,0.079,-0.041,0.151,-0.120,0.072
204716,p037,2,Backspace,",0.134,0.281,0.502,0.147,0.368,\r\np037,2,",Backspace,0.221,0.342,0.501,0.121,0.280
205245,p037,2,Backspace,",0.166,0.569,0.726,0.403,0.56,\r\np037,2,",Backspace,0.157,0.319,0.502,0.162,0.345
306776,p055,1,Backspace,",0.123,0.785,0.87,0.662,0.747,\r\np055,1,",Shift,0.085,-0.168,0.150,-0.253,0.065
319078,p057,1,y,",0.137,0.304,0.49,0.167,0.353,\r\np057,1,",Shift,0.186,-0.047,0.517,-0.233,0.331
491603,p087,1,Backspace,",0.096,6.082,6.177,5.986,6.081,\r\np087,1,",Shift,0.095,-0.289,0.159,-0.384,0.064
491610,p087,1,Shift,",0.472,1.76,1.888,1.288,1.416,\r\np087,1,",Shift,0.128,-0.352,0.248,-0.480,0.120
491613,p087,1,Backspace,",0.096,0.8,0.896,0.704,0.8,\r\np087,1,",Shift,0.096,-0.192,0.288,-0.288,0.192
552060,p099,1,Shift,",0.0,0.06,0.229,0.06,0.229,\r\np099,1,",Shift,0.169,-0.029,0.423,-0.198,0.254
552098,p099,1,Shift,",0.0,0.033,0.192,0.033,0.192,\r\np099,1,",Shift,0.159,-0.002,0.487,-0.161,0.328

In [7]:
print(f"Original number of rows: {len(df)}")
df = df[df['Unnamed: 9'].isnull()]
print(f"Number of rows with nulls in 'Unnamed: 9': {len(df)}")

Original number of rows: 562583
Number of rows with nulls in 'Unnamed: 9': 562570

In [8]:
df.dropna(subset=["Unnamed: 9"])

Empty DataFrame
Columns: [participant, session, key1, key2, DU.key1.key1, DD.key1.key2, DU.key1.key2, UD.key1.key2, UU.key1.key2 , Unnamed: 9]
Index: []

In [9]:
df.drop(columns=["Unnamed: 9"], inplace=True)

In [10]:
df.head()

,participant,session,key1,key2,DU.key1.key1,DD.key1.key2,DU.key1.key2,UD.key1.key2,UU.key1.key2
0,p001,1,W,Shift,0.15,-0.796,0.166,-0.946,0.016
1,p001,1,Shift,e,0.962,1.148,1.255,0.186,0.293
2,p001,1,e,Space,0.107,0.172,0.252,0.065,0.145
3,p001,1,Space,b,0.08,0.200,0.280,0.120,0.200
4,p001,1,b,e,0.08,0.320,0.480,0.240,0.400

In [11]:
df[23477:23486]

,participant,session,key1,key2,DU.key1.key1,DD.key1.key2,DU.key1.key2,UD.key1.key2,UU.key1.key2
23477,p005,1,c,h,0.136,0.417,0.520,0.281,0.384
23478,p005,1,h,-,0.103,0.608,0.711,0.505,0.608
23479,p005,1,-,2,0.103,1.000,1.103,0.897,1.000
23480,p005,1,2,2,0.103,0.192,0.279,0.089,0.176
23482,p005,1,Shift,Backspace,0.752,1.208,1.272,0.456,0.520
23483,p005,1,Backspace,:,0.064,0.336,0.408,0.272,0.344
23484,p005,1,:,Shift,0.072,-0.224,0.216,-0.296,0.144
23485,p005,1,Shift,Space,0.44,0.800,0.960,0.360,0.520
23486,p005,1,Space,a,0.16,0.296,0.400,0.136,0.240

In [12]:
df = df.reset_index(drop=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562570 entries, 0 to 562569
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   participant    562570 non-null  object
 1   session        562570 non-null  int64
 2   key1           562570 non-null  object
 3   key2           562372 non-null  object
 4   DU.key1.key1   562570 non-null  object
 5   DD.key1.key2   562372 non-null  float64
 6   DU.key1.key2   562372 non-null  float64
 7   UD.key1.key2   562372 non-null  float64
 8   UU.key1.key2   562372 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 38.6+ MB

In [14]:
df.isnull().sum()

participant        0
session            0
key1               0
key2             198
DU.key1.key1       0
DD.key1.key2     198
DU.key1.key2     198
UD.key1.key2     198
UU.key1.key2     198
dtype: int64

In [15]:
df[df['key2'].isnull()]

,participant,session,key1,key2,DU.key1.key1,DD.key1.key2,DU.key1.key2,UD.key1.key2,UU.key1.key2
2513,p001,1,e,NaN,0.136,NaN,NaN,NaN,NaN
5257,p001,2,s,NaN,0.143,NaN,NaN,NaN,NaN
7959,p002,1,e,NaN,0.1,NaN,NaN,NaN,NaN
10774,p002,2,s,NaN,0.074,NaN,NaN,NaN,NaN
13367,p003,1,e,NaN,0.076,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
550615,p098,2,s,NaN,0.089,NaN,NaN,NaN,NaN
553375,p099,1,e,NaN,0.113,NaN,NaN,NaN,NaN
556398,p099,2,s,NaN,0.1,NaN,NaN,NaN,NaN
559506,p100,1,Backspace,NaN,0.076,NaN,NaN,NaN,NaN
562569,p100,2,s,NaN,0.124,NaN,NaN,NaN,NaN

In [16]:
df=df.dropna(subset=["key2"])

In [17]:
df.isnull().sum()

participant      0
session          0
key1             0
key2             0
DU.key1.key1     0
DD.key1.key2     0
DU.key1.key2     0
UD.key1.key2     0
UU.key1.key2     0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 562372 entries, 0 to 562568
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   participant    562372 non-null  object
 1   session        562372 non-null  int64
 2   key1           562372 non-null  object
 3   key2           562372 non-null  object
 4   DU.key1.key1   562372 non-null  object
 5   DD.key1.key2   562372 non-null  float64
 6   DU.key1.key2   562372 non-null  float64
 7   UD.key1.key2   562372 non-null  float64
 8   UU.key1.key2   562372 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 42.9+ MB