In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/keystrokes/raw/user_1.csv")
df.head()

,99.128,99.128.1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,...,0.101,0.102,0.103,0.104,0.105,0.106,121.71,82.768,0.107,1
0,49.564,99.128,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,121.71,82.768,0.0,1
1,0.000,99.128,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,121.71,82.768,0.0,1
2,0.000,49.564,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,121.71,82.768,0.0,1
3,0.000,0.000,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,121.71,82.768,0.0,1
4,38.704,38.704,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,120.56,81.986,0.0,1

In [4]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Columns: 114 entries, 99.128 to 1
dtypes: float64(39), int64(75)
memory usage: 88.3 KB

(99, 114)

In [5]:
df.describe()

,99.128,99.128.1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,...,0.101,0.102,0.103,0.104,0.105,0.106,121.71,82.768,0.107,1
count,99.000000,99.000000,99.000000,99.0,99.0,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.0,99.0,99.0,99.0,99.0,99.0,99.000000,99.000000,99.000000,99.0
mean,43.941960,62.019364,46.246061,0.0,0.0,24.218879,46.246061,24.218879,62.386990,49.448970,...,0.0,0.0,0.0,0.0,0.0,0.0,97.094230,73.899687,30.289788,1.0
std,36.159789,28.715835,103.168589,0.0,0.0,36.775687,103.168589,36.775687,37.431298,29.913267,...,0.0,0.0,0.0,0.0,0.0,0.0,100.114558,76.744529,16.212092,0.0
min,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,1.0
25%,0.000000,48.155500,0.000000,0.0,0.0,0.000000,0.000000,0.000000,47.990000,37.050000,...,0.0,0.0,0.0,0.0,0.0,0.0,29.526500,19.815000,28.425000,1.0
50%,42.786000,71.824000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,82.696000,57.837000,...,0.0,0.0,0.0,0.0,0.0,0.0,76.988000,57.768000,32.755000,1.0
75%,75.128000,77.188500,0.000000,0.0,0.0,82.701000,0.000000,82.701000,95.980000,63.379000,...,0.0,0.0,0.0,0.0,0.0,0.0,122.475000,82.768000,38.893500,1.0
max,131.540000,111.700000,304.520000,0.0,0.0,82.701000,304.520000,82.701000,95.980000,93.414000,...,0.0,0.0,0.0,0.0,0.0,0.0,411.880000,280.100000,56.143000,1.0

In [6]:
df.dtypes

99.128      float64
99.128.1    float64
0           float64
0.1           int64
0.2           int64
             ...
0.106         int64
121.71      float64
82.768      float64
0.107       float64
1             int64
Length: 114, dtype: object