In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/keystrokes/raw/demographics.csv")
df.head()

  participant    handedness  age gender nationality
0        p001  Right-Handed   51   Male    Portugal
1        p002  Right-Handed   31   Male       Italy
2        p003  Right-Handed   21   Male      Poland
3        p004  Right-Handed   33   Male      Mexico
4        p005  Right-Handed   22   Male      Greece

In [3]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   participant  99 non-null     object
 1   handedness   99 non-null     object
 2   age          99 non-null     int64
 3   gender       99 non-null     object
 4   nationality  99 non-null     object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

(99, 5)

In [4]:
df.describe()

             age
count  99.000000
mean   24.484848
std     7.091765
min    18.000000
25%    20.000000
50%    22.000000
75%    25.000000
max    51.000000

In [5]:
df.dtypes

participant    object
handedness     object
age             int64
gender         object
nationality    object
dtype: object