In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("../data/Keystroke_Dynamics_Database/user_1.csv")
df.head()

,99.128,99.128.1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,...,0.101,0.102,0.103,0.104,0.105,0.106,121.71,82.768,0.107,1
0,49.564,99.128,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,121.71,82.768,0.0,1
1,0.000,99.128,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,121.71,82.768,0.0,1
2,0.000,49.564,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,121.71,82.768,0.0,1
3,0.000,0.000,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,121.71,82.768,0.0,1
4,38.704,38.704,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,120.56,81.986,0.0,1